.form {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: #BAD7E9;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    
   
  }
  
  .title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
  }
  
  .input {
    width: 100%;
    /* max-width: 250px; */
    height: 40px;
    border-radius: 5px;
    border: 5px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .button-confirm {
    margin: 50px auto 0 auto;
    /* width: 120px; */
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
  .neon {
   width: fit-content;
   margin: auto;
   font-weight: bold;
    color: black;
    padding: 10px;
    box-shadow: rgba(9, 150, 232, 0.4) -5px 5px, rgba(46, 166, 240, 0.3) -10px 10px, rgba(46, 149, 240, 0.2) -15px 15px, rgba(46, 133, 240, 0.1) -20px 20px, rgba(46, 175, 240, 0.05) -25px 25px;
   
  }

  .stack-container {
    border: 2px solid #01497C; /* Dark blue border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the stack */
    /* background-color: #f9f9f9; */
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and transform */
  }
  
  .stack-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
    transform: translateY(-4px); /* Slight lift on hover */
  }
  
 