.git1 , .name1{
    
    color: black;
    padding: 10px;
    box-shadow: rgba(9, 150, 232, 0.4) -5px 5px, rgba(46, 166, 240, 0.3) -10px 10px, rgba(46, 149, 240, 0.2) -15px 15px, rgba(46, 133, 240, 0.1) -20px 20px, rgba(46, 175, 240, 0.05) -25px 25px;
   
  }
